body {
  margin: 0 auto;
  padding: 0;
  background-color: #eee;
  font-family: helvetica;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: lighter;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eee;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #181F22;
  padding: 15px 5px;
  letter-spacing: 3px;
  margin: 0 3vw;
  border: 2px solid transparent;
  font-weight: lighter;
}

nav a:hover {
  border-bottom: 2px groove rgb(215, 35, 35);
  /* border-top: 1px solid rgb(215, 35, 35); */
}

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  background-color: #eee;
  height: 60vh;
}

.red-box {
  position: absolute;
  display: flex;
  width: 55%;
  height: 35vw;
  left: auto;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: url('../kayakbg.jpg') center fixed;
  background-size: cover;
  /* background: rgb(215, 35, 35);
  background: linear-gradient(150deg, rgba(215, 35, 35, 1) 0%, rgba(79, 5, 0, 1) 100%); */
  -webkit-clip-path: polygon(100% 39%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 27%, 0% 100%, 100% 100%);
}

.name-box {
  display: flex;
  flex-direction: column;
  border: 3px groove rgb(215, 35, 35);
  box-shadow: 0px 2px 20px lightgray;
}

.name {
  color: #181F22;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 80%;
  text-align: center;
  /* margin: 6vh auto 0; */
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: -60px;
}

.dev {
  color: #D72323;
  font-weight: lighter;
  font-size: 28px;
}

.pic {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: -40px;
  z-index: 2;
}

/* content */

#about {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 2px solid #D72323;
}

#about h1 {
  margin: 50px auto 0;
  padding: 0;
}

.about-container {
  display: flex;
  min-height: 50vh;
  max-width: 980px;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
  margin: 0 auto;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

.aboutme {
  display: flex;
  width: 50%;
  padding: 0 10px;
  margin: 0 auto;
}

.about-container p {
  line-height: 150%;
  letter-spacing: 0px;
  word-spacing: 1px;
  margin: 50px auto;
  color: #181F22;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
}

.specialty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 980px;
  margin: 0 auto 50px;
  text-align: center;
  /* border: 1px solid red; */
}

.specialty div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #4E9907;
  color: #eee;
  margin-top: 0;
  border-radius: 2px;
}

.specialty h2 {
  color: color: #181F22;
}

.specialty h4 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 27px;
  letter-spacing: 10px;
  font-size: 15px;
  font-weight: lighter;
  color: color: #181F22;
  /* border: 1px solid red; */
}

.skill1 {
  width: 90% !important;
  transition: all 1s ease-in;
}

.skill2 {
  width: 60% !important;
  transition: all 1s ease-in;
}

.skill3 {
  width: 50% !important;
  transition: all 1s ease-in;
}

.projects-section {
  position: relative;
}

.projectsflex {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-gap: 25px;
  margin: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.one {
  background: url('https://photos.smugmug.com/Shop/Adventure/i-ZWkfc4h/0/6d9688f2/L/1618_BURKARD_017085-L.jpg') no-repeat center;
  background-size: cover;
}

.one a {
  text-decoration: none;
  color: #eee;
  letter-spacing: 3px;
  font-size: 22px;
  line-height: 80%;
  text-align: center;
  font-weight: lighter;
}

.one a:hover {
  color: #D72323;
}

.section-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: url('../bg10.jpg') no-repeat center fixed;
  background-size: cover;
}

.filter {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(150, 150, 150, 0.4);
}

.section-title h1 {
  position: absolute;
  font-size: 40px;
  letter-spacing: 3px;
  color: #eee;
  z-index: 3;
}

.contact-section {
  /* background: url('bg5.jpg') no-repeat center fixed;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: #eee;
  border: 1px solid red;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  /* border: 1px solid red; */
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
}

.input-container input {
  display: block;
  border: 1px solid lightgray;
  height: 100%;
  width: 50%;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}

.form-text {
  width: 100%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: lighter;
  margin: 5px auto;
}

#contactsubmit {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  width: 100px;
  height: 50px;
  border: 1px solid #D72323;
  border-radius: 5px;
  color: #D72323;
  font-size: 20px;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
}

#contactsubmit:hover {
  background-color: #D72323;
  color: #eee;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #181F22;
}

i {
  color: #eeeeee;
  margin: 0 25px;
  padding: 0 0;
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 15px 5px;
    margin: 0 3vw;
  }
  .pic {
    display: none;
  }
  .aboutme {
    display: flex;
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
  }
  .specialty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto 50px;
    text-align: center;
    /* border: 1px solid red; */
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
  }
  .section-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: url('../bg10.jpg') no-repeat center;
    background-size: cover;
  }
}