@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400');
body {
  margin: 0 auto;
  padding: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: montserrat;
  letter-spacing: 1px;
  margin: 0 auto;
  /* font-weight: lighter; */
}

/*  navbar */

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eee;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #181F22;
  padding: 15px 3vw;
  letter-spacing: 3px;
  margin: 0;
  font-weight: lighter;
}

nav a:hover {
  background: url('../partial-bg-nav.jpg') bottom/cover no-repeat;
}

/* nav a:hover::after {
  content: "";
  position: fixed;
  display: flex;
  width: 100%;
  height: 10px;
  background-color: red;
  z-index: 10;
} */

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  background-color: #eee;
  width: 100vw;
  height: 50vh;
}

.name-box {
  position: absolute;
  left: 20%;
  top: 10%;
  z-index: 3;
}

.name-box h1 {
  text-transform: uppercase;
  color: #121A21;
  font-size: 3rem;
  letter-spacing: 3px;
}

.name-box h2 {
  font-family: 'Open Sans', sans-serifs;
  font-weight: lighter;
  color: #FF8255;
  font-size: 3rem;
  letter-spacing: 3px;
}

.filter {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(40, 74, 88, 0.7);
}

.pic {
  position: absolute;
  right: -50px;
  width: auto;
  height: 60vh;
  bottom: -12%;
  z-index: 0;
}

/* about content section */

#about {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* border: 1px solid yellow; */
}

.content-header {
  color: #181F22;
  margin: 25px auto;
  padding: 0;
  letter-spacing: 6px;
  /* border: 1px solid red; */
}

.content-header::after {
  content: "";
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 3px;
  background: url('../partialbg.jpeg') bottom/cover no-repeat;
}

.about-container {
  display: flex;
  min-height: 40vh;
  max-width: 980px;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  margin: 0 auto;
  flex-wrap: wrap;
  border-radius: 2px;
  /* border: 1px solid red; */
}

.about-container p {
  line-height: 150%;
  width: 50%;
  margin: 0 auto;
  color: #181F22;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
}

/* skills transition area */

.specialty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 40%;
  margin: 0 auto 50px;
  text-align: center;
  /* border: 1px solid red; */
}

.specialty div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 0;
  background: url('../partial-bg-nav.jpg') bottom/cover no-repeat;
  color: #eee;
  margin-top: 0;
  border-radius: 2px;
}

.specialty h2 {
  color: color: #181F22;
}

.specialty h4 {
  margin-bottom: 0;
  margin-top: 25px;
  line-height: 27px;
  letter-spacing: 6px;
  font-size: 15px;
  font-weight: lighter;
  color: color: #181F22;
  text-align: left;
  /* border: 1px solid red; */
}

.skill1 {
  width: 90% !important;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  ;
}

.skill2 {
  width: 60% !important;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  ;
}

.skill3 {
  width: 50% !important;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

/* Projects content section */

#projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.projects-container {
  display: flex;
  min-height: 40vh;
  max-width: 980px;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  margin: 0 auto;
  flex-wrap: wrap;
  border-radius: 2px;
  /* border: 1px solid red; */
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 50px auto;
  border-radius: 2px;
  overflow: hidden;
}

#projects img {
  width: 100%;
  height: auto;
}

#projects img:hover {
  opacity: 0.8;
}

.item-description {
  line-height: 150%;
  width: 40%;
  margin: 0 auto;
  color: #181F22;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
  background-color: #eee;
  /* border: 1px solid red; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  border-radius: 5px;
  width: 50vw;
  text-align: center;
  /* border: 1px solid red; */
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.input-container input {
  display: block;
  border: none;
  height: 100%;
  width: 48%;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}

.form-text {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: lighter;
  margin: 5px auto;
}

#contactsubmit {
  width: 100px;
  height: 50px;
  border: 1px solid #D72323;
  border-radius: 5px;
  color: #D72323;
  font-size: 20px;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
}

#contactsubmit:hover {
  background-color: #D72323;
  color: #eee;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #181F22;
}

i {
  color: #eeeeee;
  margin: 0 25px;
  padding: 0 0;
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 15px 3vw;
    margin: 0;
  }
  .name-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    z-index: 3;
  }
  .name-box h1 {
    text-transform: uppercase;
    color: #121A21;
    font-size: 2rem;
    letter-spacing: 3px;
  }
  .name-box h2 {
    font-family: 'Open Sans', sans-serifs;
    font-weight: lighter;
    color: #FF8255;
    font-size: 2rem;
    letter-spacing: 3px;
  }
  #about {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  .about-container p {
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
  }
  .specialty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto 50px;
    text-align: center;
    /* border: 1px solid red; */
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    overflow: hidden;
  }
  .item-description {
    width: 90%;
    padding: 0 10px;
    margin: 50px auto;
  }
}