
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=932eb126-488a-40e5-be77-f86942a936a9");
    @font-face{
        font-family:"Gill Sans W01 Light";
        src:url("Fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix");
        src:url("Fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix") format("eot"),url("Fonts/a2926047-aec5-42f4-b352-e593469518be.woff2") format("woff2"),url("Fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("Fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("Fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
    }
    @font-face{
        font-family:"Helvetica Neue LT W01_77 Bd Cn";
        src:url("Fonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot?#iefix");
        src:url("Fonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot?#iefix") format("eot"),url("Fonts/5f4620bc-98f7-4b13-9f90-3a54ea6a9c55.woff2") format("woff2"),url("Fonts/ac30e84e-cb19-4576-b6f9-491fccbd42ff.woff") format("woff"),url("Fonts/b583b782-0709-4a13-899f-7e9ab1a7eccd.ttf") format("truetype"),url("Fonts/d5dd03f5-3afb-46e9-aad0-234de8607afa.svg#d5dd03f5-3afb-46e9-aad0-234de8607afa") format("svg");
    }
