body {
  display: grid;
  margin: 0 auto;
  padding: 0;
  background-color: #eeeeee;
  font-family: helvetica;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: lighter;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eeeeee;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #181F22;
  padding: 10px 5px;
  letter-spacing: 3px;
  margin: 10px 7vw;
  border: 2px solid transparent;
  font-weight: lighter;
}

nav a:hover {
  border-bottom: 2px solid rgb(215, 35, 35);
  border-top: 2px solid rgb(215, 35, 35);
  border-radius: 15px;
}

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}

.red-box {
  position: absolute;
  display: flex;
  width: 55%;
  height: 35vw;
  left: auto;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: url('kayakbg.jpg') center fixed;
  background-size: cover;
  /* background: rgb(215, 35, 35);
  background: linear-gradient(150deg, rgba(215, 35, 35, 1) 0%, rgba(79, 5, 0, 1) 100%); */
  -webkit-clip-path: polygon(100% 39%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 27%, 0% 100%, 100% 100%);
}

.name {
  color: #181F22;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 80%;
  text-align: center;
  margin: 6vh auto 0;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
}

.dev {
  color: #D72323;
  font-weight: lighter;
  font-size: 28px;
}

.pic {
  width: 300px;
  height: auto;
  margin-bottom: -35px;
  z-index: 2;
}

/* content */

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #181F22;
  text-align: center;
}

.about h1 {
  margin-top: 50px;
  margin-bottom: 0;
  color: #eeeeee;
}

.about p {
  line-height: 150%;
  letter-spacing: 0px;
  word-spacing: 1px;
  margin: 50px auto 100px;
  padding: 0 15vw;
  color: #eeeeee;
  font-size: 18px;
  font-weight: lighter;
}

.projectsflex {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-gap: 3px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 500px;
  width: 100%;
}

.one {
  background: url('https://photos.smugmug.com/Shop/Adventure/i-ZWkfc4h/0/6d9688f2/L/1618_BURKARD_017085-L.jpg') no-repeat center;
  background-size: cover;
}

.one a {
  text-decoration: none;
  color: #eeeeee;
  letter-spacing: 3px;
  font-size: 22px;
  line-height: 80%;
  text-align: center;
  font-weight: lighter;
}

.one a:hover {
  color: #D72323;
}

.contactsection {
  /* background: url('bg5.jpg') no-repeat center fixed;
  background-size: cover; */
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.section-title {
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
  background: url('kayakbg.jpg') center fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

.section-title h1 {
  font-size: 40px;
  letter-spacing: 3px;
  color: #eeeeee;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 75px auto;
  border-radius: 5px;
  width: 50%;
  /* border: 1px solid red; */
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
  height: 50px;
  /* text-align: center; */
}

.form-input input {
  width: 49%;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: lighter;
}

.form-text {
  width: 100%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: lighter;
  margin: 5px auto;
}

#contactsubmit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 50px;
  border: 1px solid #D72323;
  border-radius: 5px;
  text-decoration: none;
  color: #D72323;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 3px;
  background-color: transparent;
}

#contactsubmit:hover {
  background-color: #D72323;
  color: #eee;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #181F22;
}

i {
  color: #eeeeee;
  margin: 0 auto;
  padding: 0 25px;
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 5px;
    margin: 10px 3vw;
  }
  .projectsflex {
    display: grid;
    grid-template: repeat(4, 1fr)/ 1fr;
    grid-gap: 3px;
  }
}