body {
  display: grid;
  /* grid-template: repeat(4, 70vh)/repeat(1, 100vw);
  grid-gap: 5px; */
  margin: 0 auto;
  padding: 0;
  background-color: #f7f7f7;
  /* background-color: #CAC8C9; */
  font-family: helvetica;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: lighter;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f7f7f7;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #323643;
  padding: 10px 5px;
  letter-spacing: 3px;
  margin: 10px 100px;
  border: 1px solid transparent;
}

nav a:hover {
  color: #EA9215;
  border: 1px solid #EA9215;
  border-radius: 25px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 300px;
  height: 300px;
  background: url('bg5.jpg') no-repeat center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 66px 77px 40px -39px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 66px 77px 40px -39px rgba(0, 0, 0, 0.17);
  box-shadow: 66px 77px 40px -39px rgba(0, 0, 0, 0.17);
}

.name {
  color: #3A4750;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 80%;
  text-align: center;
  margin-bottom: 20px;
  /* letter-spacing: 10px !important; */
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  /* font-weight: bold; */
  /* color: #EA9215; */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.dev {
  color: #EA9215;
  font-weight: normal;
  font-size: 28px;
}

.pic {
  width: 300px;
  height: auto;
  margin-bottom: -35px;
}

/* content */

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #3A4750;
  text-align: center;
  /* border: 1px solid yellow; */
}

.about h1 {
  margin-top: 100px;
  margin-bottom: 0;
  color: #f7f7f7;
}

.about p {
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 50px auto 100px;
  padding: 5vw;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: lighter;
}

.projectsflex {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(234, 114, 21);
  background: linear-gradient(79deg, rgba(234, 114, 21, 1) 0%, rgba(234, 171, 21, 1) 100%);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template-columns: repeat(2, 1fr); */
  width: 98%;
  margin: 0 auto 10px;
  grid-gap: 10px;
  /* justify-items: center; */
  align-items: center;
  justify-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 400px;
  width: 100%;
  align-self: center;
  border-radius: 3px;
}

.one {
  background: url('https://photos.smugmug.com/Shop/Adventure/i-ZWkfc4h/0/6d9688f2/L/1618_BURKARD_017085-L.jpg') no-repeat center;
  background-size: auto;
}

.one a {
  text-decoration: none;
  color: #f7f7f7;
  letter-spacing: 3px;
  font-size: 22px;
  line-height: 80%;
  text-align: center;
  font-weight: lighter;
}

.one a:hover {
  color: #EA9215;
}

.rps h3 {
  color: #f7f7f7;
  font-weight: lighter;
}

.rpsIcons {
  margin: 50px auto;
}

.far {
  margin: 0 20px;
  color: black;
  font-size: 40px;
  transform: rotate(90deg);
}

@keyframes rockDown {
  from {
    transform: rotate(75deg);
  }
  to {
    transform: translateY(25px) rotate(95deg);
  }
}

.pcPlayerAnimate {
  animation: rockDown .45s 3 forwards ease-in;
}

footer {
  background-color: #3A4750;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h1 {
  margin: 75px 50px auto;
  color: #f7f7f7;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px auto;
  margin: 75px auto;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  border: 1px solid #FF6D24;
  border-radius: 5px;
  margin: 5px auto;
  letter-spacing: 1px;
  /* text-align: center; */
}

input[type="email"] {
  width: 300px;
  height: 50px;
  border: 1px solid #FF6D24;
  border-radius: 5px;
  margin: 5px auto;
  letter-spacing: 1px;
  /* text-align: center; */
}

textarea {
  border: 1px solid #FF6D24;
  border-radius: 5px;
  margin: 15px auto;
  width: 300px;
  height: 150px;
}

#contactsubmit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: background: rgb(234, 114, 21);
  background: linear-gradient(79deg, rgba(234, 114, 21, 1) 0%, rgba(234, 171, 21, 1) 100%);
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 3px;
  height: 50px;
  width: 100px;
  color: #f7f7f7;
}

#contactsubmit:hover {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 5px;
    margin: 10px 18px;
  }