body {
  display: grid;
  /* grid-template: repeat(4, 70vh)/repeat(1, 100vw);
  grid-gap: 5px; */
  margin: 0 auto;
  padding: 0;
  /* background-color: #f7f7f7; */
  /* background-color: #CAC8C9; */
  font-family: helvetica;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: lighter;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f7f7f7;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #323643;
  padding: 10px 5px;
  letter-spacing: 3px;
  margin: 10px 100px;
  border: 1px solid transparent;
}

nav a:hover {
  color: #EA9215;
  border: 1px solid #EA9215;
  border-radius: 25px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
}

/* .bg {
  height: 500px;
  position: absolute;
  width: 80%;
  background: url('background3.jpg') no-repeat center fixed;
  background-size: cover;
  z-index: -1;
  border: 1px solid red;
  top: -100px;
} */

header h1 {
  text-transform: uppercase;
  font-size: 50px;
}

header span {
  font-weight: bold;
  color: #EA9215;
}

.pic {
  width: 300px;
  height: auto;
  margin-bottom: -35px;
  margin-top: 200px;
  /* object-position: center;
  object-fit: cover;
  border-radius: 50%; */
  /* border: 1px solid #323643; */
  /* -webkit-box-shadow: -2px 117px 33px -31px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 117px 33px -31px rgba(0, 0, 0, 0.14);
  box-shadow: -2px 117px 33px -31px rgba(0, 0, 0, 0.14); */
}

/* content */

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #3A4750;
  text-align: center;
  /* border: 1px solid yellow; */
}

.about h1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.about p {
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 50px auto 100px;
  padding: 5vw;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: lighter;
}

.projectsflex {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(234, 146, 21, 1);
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template-columns: repeat(2, 1fr); */
  width: 100%;
  margin: 0 auto;
  grid-gap: 10px;
  /* justify-items: center; */
  align-items: center;
  justify-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 500px;
  width: 100%;
  align-self: center;
}

footer {
  background-color: #3A4750;
  display: flex;
  justify-content: center;
  align-items: center;
}